a {
    text-decoration-line: none;
    color: black;
}
.top_menu {
    margin: 20px;
}
.top_menu1 {
    font-size: 27px ;
}
.top_menu2 {
    margin-top: 10px;
}

h1, h2, p {
    text-align: center;
    justify-content: center;
}
.pricing {
    margin-top: 20px;
    margin-bottom: 30px;
}
.pricing_1 {
    font-size: 55px;
}
.pricing_2 {
    font-size: 20px;
}

h4 {
    text-align: center;
}
li {
    list-style: none;
    text-align: center;
}
.gray {
    color: gray;
}

button {
    justify-content: center;
    width: 100% ;
    height: 20%;
}
.card {
    width: 30%;

}
.Compare {
    font-size: 40px;
    margin-top: 30px;
}
.compare1 {
    margin-top: 30px;
}
h5{
    text-align: center;
}
.li_1 {
    text-align: start;
    color: gray;
}